/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
.todocard {}

.btn {
    cursor: pointer;
}

.full-width {
    width: 80%;
    margin-top: 20px;
}

.example-spacer {
    flex: 1 1 auto;
}

.todoitem {
    margin: 5px 0;
    color: #fff;
    text-overflow: ellipsis
}

.done-true {
    text-decoration: line-through #d50000;
}

.done-false {
    text-decoration: none;
}